
    .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-info-item {
        margin-left: 20px;
        font-size: 14px;
        color: #333;
    }

    .name {
        margin-right: auto; 
    }
    .circular-img {
        border-radius: 50%; 
        width: 150px;
        height: 210px; 
    }
    .box {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        padding: 20px;
        margin-bottom: 20px;
    }