body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del encabezado */
  #header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar {
    display: flex;
    align-items: center;
  }
  .title {
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno para mejorar la legibilidad */
    margin-right: 20px; /* Margen derecho para separación */
}
  .name {
    margin-right: auto; 
  }
  
  .header-info-item {
    margin-left: 20px;
    font-size: 14px;
    color: #333;
  }
  

  
  /* Estilos del contenido principal */
  #main-content {
    margin-top: 80px; 
    display: flex;
    width: 100%;
    justify-content:center;
    flex-direction: column;
    align-items: center;/* Ajustar según la altura del encabezado */
  }
  
  /* Estilos de las secciones */
  section {
    margin-bottom: 20px;
  }
  
  .content-presentation{
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    padding: 10px; /* Espaciado interno para mejorar la legibilidad */
    margin-right: 20px; /
  }
  /* Estilos de los cuadros de habilidades */
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 130px;
    height: 130px;
    margin: 10px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  
  .programming-icon {
    width: 50px;
    height: 50px;
  }
  #presentacion{
    background: #c1dbf6;
  }
.circular-img {
  width: 368px;
  height: 368px;
  max-width: 100%; /* Esto asegura que la imagen no exceda el ancho máximo del contenedor */

  border-radius: 10%;
  overflow: hidden;/* Permite que la altura se ajuste automáticamente */
}

.network_item{
  display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}
.network{
  display: flex;
  height: 24px;
  width: 62%;
  gap: 32px;
}
#about{
  background: #96d9c7;
}

.heroe{
  flex-direction: column-reverse;
  width: 100%;
  height: 294px;
  margin-top: -20px; /* Ajusta el valor según sea necesario para eliminar el espacio entre las secciones */

  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 100px; /* Ajusta este valor según sea necesario */

}

.heroe > * {
  flex: 1; /* Hace que todos los elementos ocupen la misma cantidad de espacio */
}
#skills{
  background: #c1dbf6;
}
#hobbies{
  background: #96d9c7;

}
#formacion{
  background: #c1dbf6;
}
#proyectos{
  background: #96d9c7;

}
#contacto{
  background: #c1dbf6;

}
.box-formacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  height: 150px;
  margin: 10px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.contactarme{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
}
.contenedor_contacto{
  display: flex;
  width: 58%;
  height: 593px;
  flex-direction: column;
  justify-content: space-between
}
.contactarme{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
}
.titulo_contacto{
  font-weight: 700;
  font-size: 32px;
  line-height: 37.57px;
}
.contenedor__contacto{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 397px;
  gap: 32px;
}
.txtarea_mensaje{
  width: 100%;
  height: 133px;
  border-radius: 4px;
  resize: none;
}
.input_asunto{
  width: 100%;
  height: 56px;
  gap: 8px;
  border-radius: 4px;
}
.enviar{
  width: 144px;
  height: 51px;
  gap: 10px;
  background: #2a7ae4;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  color: #ffffff;

}
.skill_name{
  width: 66%;
  font-weight: 400;
  font-size: 1tpx;
  line-height: 18.78px;  
  text-align: justify;  
}
.date_formacion{
  width: 66%;
  height: 255px;
  font-weight: 400;
  font-size: 10px;
  line-height: 18.78px;  
  text-align: justify;  
}

footer {
  max-height: 200px; /* Establece la altura máxima deseada */
  overflow-y: auto;
}