body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del encabezado */
  #header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;

    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar {
    display: flex;
    align-items: center;
  }
  .title {
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno para mejorar la legibilidad */
    margin-right: 20px; /* Margen derecho para separación */
}
  .name {
    margin-right: auto; 
  }
  
  .header-info-item {
    margin-left: 20px;
    font-size: 14px;
    color: #333;
  }
  

  
  /* Estilos del contenido principal */
  #main-content {
    margin-top: 80px; 
    display: flex;
    width: 100%;
    justify-content:center;
    flex-direction: column;
    align-items: center;/* Ajustar según la altura del encabezado */
  }
  
  /* Estilos de las secciones */
  section {
    margin-bottom: 20px;
  }
  
  .content-presentation{
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    padding: 10px; /* Espaciado interno para mejorar la legibilidad */
    margin-right: 20px; /
  }
  /* Estilos de los cuadros de habilidades */
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 130px;
    height: 130px;
    margin: 10px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  
  .programming-icon {
    width: 50px;
    height: 50px;
  }
  #presentacion{
    background: #c1dbf6;
  }
.circular-img {
  width: 368px;
  height: 368px;
  border-radius: 10%;
  overflow: hidden;/* Permite que la altura se ajuste automáticamente */
}
.network_item{
  display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}
.network{
  display: flex;
  height: 24px;
  width: 62%;
  gap: 32px;
}
#about{
  background: #96d9c7;
}

.heroe{
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan automáticamente en múltiples líneas */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  text-align: center; 
}
#skills{
  background: #c1dbf6;
}
#hobbies{
  background: #c1dbf6;

}
.box-estudios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  height: 150px;
  margin: 10px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.contactarme{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
}
.contenedor_contacto{
  display: flex;
  width: 58%;
  height: 593px;
  flex-direction: column;
  justify-content: space-between
}
.contactarme{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
}